/* Common Styles for Both HTML Files */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    /* Light blue background color */
    color: #333;
    /* Dark text color */
    margin: 0;
    padding: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option {
    padding: 20px;
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #2980b9;
}

h1 {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
}

section {
    background-color: #cce6ff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    background-color: #0066cc;
    /* Blue button background color */
    color: #fff;
    /* White button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004c99;
    /* Darker blue on hover */
}

#output,
#output1,
#output2,
#Pushoutput,
#Indexoutput,
#Includeoutput {
    background-color: #cce6ff;
    /* Light blue output background color */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}